body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("ToDo_List\(image\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 16px;
    background-color: rgba(25, 31, 31, 0.5);
    box-shadow: 0 0 12px white;
    width: 40%;
    position: relative;
    left:29%;
    top:21px;
}

ul {
    padding: 0;
    margin: 0;
}

.main h1 {
    position: relative;
    left: 105px;
}

.fa-sheet-plastic {
    margin-left: 3px;
}

input {
    height: 32px;
    width: 365px;
    padding: 5px 12px;
    position: relative;
    border: 2px solid;
    font-size:16px;
    color: white;
    border-radius: 14px;
    background-color: rgba(21, 28, 36, 0.5);
}

input::placeholder {
    color: rgb(197, 193, 186);
    font-size: large;
    padding: 5px;
}

input:focus {
    background-color: rgba(21, 28, 36, 0.8);
    border-radius: 2px solid;
}

button {
    margin: 0px 7px;
    height: 44px;
    border: 2px solid;
    background-color: rgba(233, 41, 41, 0.8);
    border-radius: 12px;
    width: 66px;
    padding: 7px;
    font-size: large;
    color: white;
}

button:hover {
    background-color: rgba(223, 27, 27, 0.9);
    box-shadow: 0 0 7px white;
}

button:active {
    background-color: rgb(241, 14, 14);
    box-shadow: 0 0 16px rgb(236, 8, 8);
}

.lists {
    margin-top: 11px;
}

ul li {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 3px solid white;
    border-radius: 15px;
    background-color: rgba(11, 110, 129, 0.7);
    padding: 5px 14px;
    margin: 7px 7px;
    width: 534px;
    height: 43px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: large;
}

ul li p {
    flex-grow: 1;
    padding: 2px;
}

.fa-trash {
    color: rgba(247, 9, 9, 0.979);
}

.fa-file-pen {
    color: rgb(83, 240, 44);
    margin-right: 7px;
}

.fa-check{
    margin-right: 12px;
    color: rgb(5, 240, 248);
    font-size: larger;
    font-weight: bolder;
}
.fa-trash:hover {
    transform: scale(1.2);
}
.fa-file-pen:hover {
  transform: scale(1.2);
}
.fa-check:hover {
    transform: scale(1.2);
}
.fa-trash:active{
    color: white;
}
.fa-file-pen:active {
  color: white;
}
.fa-check:active {
   color: white;
}

